
<li class="list-group-item">
	{{burger_name}}

	<button class="change-devoured btn btn-warning btn-sm" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}EAT UP!{{else}}REGURGITATE!{{/if}}
	</button>

	<button class="delete-burger btn btn-danger btn-sm" data-id="{{this.id}}">DELETE!</button>
</li>
